.hero {
  padding: 125px 0;
  min-height: calc(100vh - 90px);
  align-items: center;
}

.heroContent {
  height: fit-content;

  font-size: 18px;
}
.heroContent .upperCase::before {
  content: "";
  width: 23px;
  height: 3px;
  background: var(--Main);
  display: inline-block;
  translate: -5px -5px;
}
.heroText {
  font-size: 62px;
  font-weight: 700;
  padding: 32px 0;
}
.heroContent > p:not(.upperCase) {
  width: 330px;
  padding-bottom: 32px;
}
.heroBtn {
  background: var(--Primary-blue);
  color: var(--White);
  font-weight: 500;
  font-size: inherit;
  box-shadow: 0 8px 6px -2px #204ea552;
}

.heroImage img {
  display: inline-block;
  width: 100%;
}
.heroImage {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 980px;
}
.tot {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: absolute;
  left: -60px;
  bottom: 20%;

  padding: 5px;
  width: 140px;
  height: 50px;
  border-radius: 4px;
  color: var(--Primary-blue);
  font-size: 15px;
}
.tot:nth-last-of-type(2) {
  right: 0px;
  left: auto;
  bottom: 10%;
}
.tot div:nth-child(2) {
  width: fit-content;
  display: inline;
  width: auto;
  margin-left: 10px;
}

/* services  */
.services {
  padding: 100px 0;
  text-align: center;
  align-items: center;
}
.colored {
  color: var(--Primary-blue);
}

.services .servicesDescription {
  max-width: 840px;
}
.heading {
  font-size: 36px;
  font-weight: 700;
  max-width: 500px;
  padding: 17px 0 22px 0;
  text-align: center;
}
.servicesSlider {
  width: 100%;
  padding-top: 80px;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(auto-fill, minmax(270px, auto));
  align-items: center;
  justify-content: center;
}
.service {
  padding: 20px;
  width: 270px;
  background: var(--White);
  text-align: left;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.service:hover {
  box-shadow: 1.5px 10.5px 60px -6.5px rgba(219, 231, 255, 0.82);
}
.serviceHeading {
  font-size: 24px;
  font-weight: 500;
  color: var(--Primary-blue);
  padding: 32px 0 17px 0;
}

.vdSection {
  padding: 80px 0;
  background: #dbe7ff;
  width: 100%;
  overflow: hidden;

}
.vd {
  border-radius: 20px;
  overflow: hidden;
  margin: 56px auto 0 auto ;
  width: 620px;

}

/* About Section */
.about {
  justify-content: center;
  padding: 100px 0;
  position: relative;
}
.about .colored {
  text-align: left !important;
}
.aboutImage {
  position: relative;
  margin: 0 auto;

  width: fit-content !important;
}
.aboutImage div{
  overflow-x: hidden;
  width: 500px !important;
  margin: 0 auto;
}
.aboutImage div img{
  width: 100%;
}
.aboutContent {
     padding: 20px;
     width: 600px;
   }

   

.logoSponsers{
     display: flex;
     flex-wrap: wrap;
     
}
.logoSponsers div{
     padding: 10px;
}
.aboutImage img:nth-child(2) {
  position: absolute;
  bottom: -110px;
  right: 27px;
}

.aboutContent p {
  padding: 0 0 15px 0;
}
.centerContent div button:nth-child(2) {
  margin: 0 0px 0 30px;
}

/* comments */
.comment {
  width: 500px;
  background: #ffff;
  padding: 42px 24px;
  max-width: 200px;
}
.comment p {
  font-size: 15px !important;
  padding: 0 0 20px 0;
  color: #565656;
  line-height: 26px;
}
.comment footer div {
  padding: 0 5px;
}
.comment footer div p:nth-child(2) {
  padding: 0 5px;
}

.test .quote {
  position: absolute;
  top: -13%;
  z-index: 200;
}
.test .quote:nth-of-type(2) {
  top: 72% !important;
  right: 5%;
}
.touch {
  padding: 62px 0;
  background: #dbe7ff;
  border-radius: 60px;
  margin: 137px auto;
}
.touch .inputs{
  margin-top: 20px;
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
  width: 361px;

}
.inputs input {
  padding: 10px;
  outline: none;
  border: none;
  display: inline-block;
  width:100%
}

.touch button {
  height: fit-content;
  background-color: #fff;
  box-shadow: none;
  color: #204ea552;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  background-color: #dbe7ff;
  }

.footer {
  padding: 40px;
  background: #ffff;
}
.social {
  width: 250px;
}
.social p {
  padding: 16px 0;
  color: #565656;
}
.icons {
  width: 96px;
}
.footer_links {
  width: 260px;

}
.footer_links ul li {
  padding: 10px 0;
  color: #565656;
}
.footer_links ul li:first-child {
  font-weight: 700;
  color: var(--dark-blue);
}

.aboutContent div button:nth-child(2) {
  margin: 0 0 0 20px ;
}
/* phone */

@media (width < 500px) {
  .aboutContent div button:nth-child(2) {
    margin: 30px;
  }

  .services .servicesDescription {
    max-width: 100%;
    
  }
  .heroImage{
    width: 70vw !important;
     margin: 0 auto;
  }.hero{
    padding: 40px 0;
  }.tot{
    left: -37px ;
  }
  .tot:nth-child(2){
    right: -29px;
  }.touch{
    text-align: center;
    margin: 30px 0 50px 0;
    padding: 30px 0;
    border-radius: 0px;
    background-size: cover;
    }

}

@media (width < 1040px) {
     .about{
          flex-flow: column;
          justify-content: start;
          align-items: flex-start;
     }
     .aboutContent{
      max-width: 600px;
      padding: 20px 0  0 0  ;
    }
}

@media (width >= 400px) {
  .aboutImage div{
    width: calc(100vw - 4em) !important;
    
  }.aboutContent{
    width: calc(100vw - 4em) !important;
  }
}

@media (width < 400px) {
  .about{
    align-items: center;
  }
  .aboutImage div{
    width: calc(100vw - 4em) !important;
    
  }.aboutContent{
    width: calc(100vw - 4em) !important;
    /* background: #000;/ */
  }
}

@media (width < 720px) {

  .footer{
    padding:40px 20px;
  }
  .footer >div {
    flex-flow: column;
    
    padding: 0;
  }.footer_links{
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }
  .aboutImage div{
    width: calc(100vw - 4em) !important;


  }

}
@media (width > 1040px) {
  .aboutImage div{
    width: 600px !important; 
  }
}
@media (width < 1040px) {
  
     .hero{
          max-width: 600px;
          flex-flow: column-reverse;
          margin: 0 auto;
          justify-content: center;
          align-items: center;
     }
     .heroImage{
      width: 400px;
      margin-bottom: 50px;
      align-items: center;
      justify-content: center;          
 }
}
@media (width < 800px) {

  .heading{
    font-size: 25px;
  }
  .vd{
    width: 90vw !important;
  }
  .inputs {
    
    justify-content: space-between;
    flex-flow: column;
    width: 90%; 
    background: transparent !important;

  }.inputs button{
    margin-top: 10px;
    width: 200px;
    background-color: #fff;
    color: #565656;
    margin-top: 15px;

  }.inputs input{
    width: 288px;
  padding:10px 20px ;
  border-radius: 6px ;
}
}
